 
<!DOCTYPE html>
<!---Coding By CoderGirl!--->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--<title>Simple Website Design</title>-->
  <!---Custom Css File!--->
  <link rel="stylesheet" href="/static/home.css">
</head>
<body>
  <div class="container-fluid">
    <nav>
      <div class="logo">
        <a href="/index">Book<span>flix</span></a>
      </div>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/index">Most Popular</a></li>
        <li><a href="/recommend">Recommendations</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    <div class="content">
      <h2>Discover your next favourite book</h2>
      <p>Bringing you closer to the books you love.</p>
    </div>
    <div class="link">
      <a href="/recommend" class="choose">Choose</a>
    </div>
  </div>
</body>
</html>

